
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nemesis-frontend-ingress
  annotations:
    cert-manager.io/cluster-issuer: lets-encrypt
spec:
  tls:
    - hosts:
        - nemesis-test-wamba.com
        - arlette-consultant.com
        - gestion-locative-lcei.space
      secretName: lets-encrypt-priviate-key
  rules:
  - host: nemesis-test-wamba.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nemesis-frontend-service
            port:
              number: 80
      - path: /db
        pathType: Prefix
        backend:
          service:
            name: db-service
            port:
              number: 5432

  - host: arlette-consultant.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: arlette-service
            port:
              number: 80
  - host: gestion-locative-lcei.space
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ges-loca-front-service
            port:
              number: 80

